---
import "@/styles/app.css";

import { BackToHomeLink } from "@/components/back-to-home-link";
import { ExternalLink } from "@/components/external-link";
import { PageHeader } from "@/components/page/header";
import { PageSection } from "@/components/page/section";
import { APP_DESCRIPTION, APP_NAME, APP_REPOSITORY_URL } from "@/constants/app";
import { Layout } from "@/layouts/layout";
import styles from "./_styles.module.css";

const title = "about";
---

<Layout title={title}>
  <PageHeader title={title} />
  <PageSection class={styles.container}>
    <p>{APP_DESCRIPTION}.</p>
    <p>
      this website is an open source project. see
      <ExternalLink href={APP_REPOSITORY_URL}>github {APP_NAME}</ExternalLink>
      for details.
    </p>
  </PageSection>
  <BackToHomeLink />
</Layout>
