---
import { BackToHomeLink } from "@/components/back-to-home-link";
import { BrowserSupport } from "@/components/browser-support";
import { Code } from "@/components/code";
import { MdnDoc } from "@/components/mdn-doc";
import { PageHeader } from "@/components/page/header";
import { PageSection } from "@/components/page/section";
import { PageSubHeader } from "@/components/page/sub-header";
import { IconExternalLink } from "@/icons/external-link";
import { Layout } from "@/layouts/layout";
import styles from "./styles.module.css";

const title = "text underline";
---

<Layout title={title}>
  <PageHeader title={title} />
  <PageSection>
    <MdnDoc path="Web/CSS/text-decoration" text="text-decoration">
      the <Code code="text-decoration" inline /> shorthand css property sets the
      appearance of decorative lines on text. it is a shorthand for text-decoration-line,
      text-decoration-color, text-decoration-style, and the newer text-decoration-thickness
      property.
    </MdnDoc>
  </PageSection>
  <PageSection>
    <PageSubHeader title="1" />
    <Code code={`text-decoration: underline;`} />
    <a
      href="https://developer.mozilla.org/en-US/"
      class:list={[styles.link, styles.example1Link]}
      target="_blank"
      rel="noreferrer"
      >mdn web docs<IconExternalLink class={styles.icon} />
    </a>
  </PageSection>
  <PageSection>
    <PageSubHeader title="2" />
    <Code
      code={`text-decoration: none;
border-bottom: 1px solid currentcolor;`}
    />
    <a
      href="https://developer.mozilla.org/en-US/"
      class:list={[styles.link, styles.example2Link]}
      target="_blank"
      rel="noreferrer"
      >mdn web docs<IconExternalLink class={styles.icon} />
    </a>
  </PageSection>
  <PageSection>
    <PageSubHeader title="3" />
    <Code
      code={`text-decoration: underline;
text-decoration-thickness: 0.05em;
text-underline-offset: 0.25em;`}
    />
    <a
      href="https://developer.mozilla.org/en-US/"
      class:list={[styles.link, styles.example3Link]}
      target="_blank"
      rel="noreferrer"
      >mdn web docs<IconExternalLink class={styles.icon} />
    </a>
  </PageSection>
  <PageSection>
    <PageSubHeader title="4" />
    <Code
      code={`text-decoration: none;
background-image: linear-gradient(transparent 95%, currentcolor 0);`}
    />
    <a
      href="https://developer.mozilla.org/en-US/"
      class:list={[styles.link, styles.example4Link]}
      target="_blank"
      rel="noreferrer"
      >mdn web docs<IconExternalLink class={styles.icon} />
    </a>
  </PageSection>
  <PageSection>
    <PageSubHeader title="5" />
    <Code
      code={`text-decoration: none;
box-shadow: 0 1px 0 0 currentcolor;`}
    />
    <a
      href="https://developer.mozilla.org/en-US/"
      class:list={[styles.link, styles.example5Link]}
      target="_blank"
      rel="noreferrer"
      >mdn web docs<IconExternalLink class={styles.icon} />
    </a>
  </PageSection>
  <PageSection>
    <BrowserSupport
      items={[
        {
          value: "text-underline-offset",
          chrome: "87",
          firefox: "70",
          safari: "12.1",
        },
        {
          value: "text-decoration-thickness",
          chrome: "89",
          firefox: "70",
          safari: "12.1",
        },
      ]}
    />
  </PageSection>
  <BackToHomeLink />
</Layout>
