---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="" description="">
  <ul>
    <li>
      <a href={`${import.meta.env.BASE_URL}introduction/`}>introduction</a>
    </li>
    <li><a href={`${import.meta.env.BASE_URL}grids/`}>grids</a></li>
    <li><a href={`${import.meta.env.BASE_URL}flexbox/`}>flexbox</a></li>
    <li>
      <a href={`${import.meta.env.BASE_URL}center-an-element/`}
        >center an element</a
      >
    </li>
    <li><a href={`${import.meta.env.BASE_URL}position/`}>position</a></li>
    <li><a href={`${import.meta.env.BASE_URL}transition/`}>transition</a></li>
    <li>
      <a href={`${import.meta.env.BASE_URL}focus-within/`}>:focus-within</a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}accent-color/`}>accent-color</a>
    </li>
    <li>
      <a href={`${import.meta.env.BASE_URL}text-underline/`}>text underline</a>
    </li>
    <li><a href={`${import.meta.env.BASE_URL}img/`}>&lt;img&gt;</a></li>
    <li><a href={`${import.meta.env.BASE_URL}details/`}>&lt;details&gt;</a></li>
    <li><a href={`${import.meta.env.BASE_URL}dialog/`}>&lt;dialog&gt;</a></li>
  </ul>
</Layout>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 2.1rem;
  }

  a {
    padding-bottom: 0.5rem;
  }
</style>
