---
import { PageSubHeader } from "../page/sub-header";
import styles from "./styles.module.css";

type Props = {
  items: Array<{
    value: string;
    chrome: string;
    firefox: string;
    safari: string;
  }>;
};

const { items } = Astro.props;
---

<PageSubHeader title="browser support" />
<table class={styles.container}>
  <thead class={styles.headerContainer}>
    <tr>
      <th class={styles.header}></th>
      <th scope="col" class={styles.header}>chrome</th>
      <th scope="col" class={styles.header}>firefox</th>
      <th scope="col" class={styles.header}>safari</th>
    </tr>
  </thead>
  <tbody>
    {
      items.map((item) => (
        <tr>
          <th scope="row" class={styles.dataHeader} tabindex="0">
            {item.value}
          </th>
          <td class={styles.data}>{item.chrome}</td>
          <td class={styles.data}>{item.firefox}</td>
          {item.safari === "tp" ? (
            <td class={styles.data}>
              <abbr title="preview browser support">{item.safari}</abbr>
            </td>
          ) : (
            <td class={styles.data}>{item.safari}</td>
          )}
        </tr>
      ))
    }
  </tbody>
</table>
