---
import { PageSubHeader } from "../page/sub-header";
import styles from "./styles.module.css";
import { BrowserSupportVersion } from "./version";

type Props = {
  items: Array<{
    value: string;
    chrome: string;
    firefox: string;
    safari: string;
  }>;
};

const { items } = Astro.props;
---

<PageSubHeader title="browser support" />
<table class={styles.container}>
  <thead class={styles.headerContainer}>
    <tr>
      <th class={styles.header}></th>
      <th scope="col" class={styles.header}>chrome</th>
      <th scope="col" class={styles.header}>firefox</th>
      <th scope="col" class={styles.header}>safari</th>
    </tr>
  </thead>
  <tbody>
    {
      items.map((item) => (
        <tr>
          <th scope="row" class={styles.dataHeader} tabindex="0">
            {item.value}
          </th>
          <BrowserSupportVersion version={item.chrome} />
          <BrowserSupportVersion version={item.firefox} />
          <BrowserSupportVersion version={item.safari} />
        </tr>
      ))
    }
  </tbody>
</table>
