---
import PageSubHeader from "./PageSubHeader.astro";

type Props = {
  items: Array<{
    value: string;
    chrome: string;
    firefox: string;
    safari: string;
  }>;
};

const { props } = Astro;
---

<PageSubHeader title="browser support" />
<table>
  <thead>
    <tr>
      <th></th>
      <th>chrome</th>
      <th>firefox</th>
      <th>safari</th>
    </tr>
  </thead>
  <tbody>
    {
      props.items.map((item) => (
        <tr>
          <td>{item.value}</td>
          <td>{item.chrome}</td>
          <td>{item.firefox}</td>
          {item.safari === "tp" ? (
            <td>
              <abbr title="preview browser support">{item.safari}</abbr>
            </td>
          ) : (
            <td>{item.safari}</td>
          )}
        </tr>
      ))
    }
  </tbody>
</table>

<style>
  table {
    table-layout: fixed;
    text-align: center;
    width: 100%;
  }

  thead {
    border-bottom: 1px solid var(--gray-600);
  }

  tr,
  td,
  th {
    padding: 0.5rem 0.75rem;
    vertical-align: middle;
  }

  td:is(:first-child) {
    overflow-x: scroll;
  }
</style>
