---
import IconChevronDown from "@/icons/IconChevronDown.astro";
import IconDotsHorizontal from "@/icons/IconDotsHorizontal.astro";

type Props = {
  id: string;
  label?: string;
  class?: string;
};

const { id, label, class: className, ...attributes } = Astro.props;
---

<details>
  <summary
    id={id}
    aria-expanded={false}
    aria-label={label ? null : "more"}
    class={className}
    {...attributes}
  >
    {
      label ? (
        <div class="label">
          {label}
          <IconChevronDown class="chevron-down-icon" />
        </div>
      ) : (
        <IconDotsHorizontal class="dots-horizontal-icon" />
      )
    }
  </summary>
  <div class="menu" aria-labelledby={id}>
    <slot />
  </div>
</details>

<style>
  details {
    display: inline-block;
  }

  summary {
    border-radius: 0.25rem;
    color: rgb(var(--gray-400));
    list-style: none;
    padding: 0.5rem 0.9rem;
    white-space: nowrap;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details[open] summary {
    box-shadow: var(--outline);
    color: rgb(var(--gray-100));
  }

  details[open] summary::before {
    background: transparent;
    content: " ";
    cursor: initial;
    display: block;
    inset: 0;
    position: fixed;
    z-index: 10;
  }

  .menu {
    background: rgb(var(--gray-700));
    border-radius: 0.25rem;
    box-shadow: 0.1rem 0.1rem 0.1rem rgb(var(--gray-900));
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0 -0.2rem;
    min-width: 10em;
    padding: 0.25rem 0;
    position: absolute;
    z-index: 20;
  }

  .chevron-down-icon {
    height: 1.25rem;
    vertical-align: -0.3em;
    width: 1.25rem;
  }

  .dots-horizontal-icon {
    height: 1rem;
    vertical-align: -0.125em;
    width: 1rem;
  }
</style>
