---
import IconChevronDown from "@/icons/IconChevronDown.astro";
import IconDotsHorizontal from "@/icons/IconDotsHorizontal.astro";
import type { HTMLAttributes } from "astro/types";

type Props = {
  id: string;
  label?: string;
  style: HTMLAttributes<"details">["style"];
};

const { props } = Astro;
---

<details>
  <summary
    id={props.id}
    aria-expanded={false}
    aria-label={props.label ? null : "more"}
    style={props.style}
  >
    {
      props.label ? (
        <div class="label">
          {props.label}
          <IconChevronDown
            style={{
              height: "1.25em",
              width: "1.25em",
              verticalAlign: "-0.3em",
            }}
          />
        </div>
      ) : (
        <IconDotsHorizontal
          style={{ height: "1em", width: "1em", verticalAlign: "-0.125em" }}
        />
      )
    }
  </summary>
  <div class="menu" aria-labelledby={props.id}>
    <slot />
  </div>
</details>

<style>
  details {
    display: inline-block;
  }

  summary {
    border-radius: 0.25rem;
    color: var(--gray-400);
    list-style: none;
    padding: 0.5rem 0.9rem;
    white-space: nowrap;
  }

  summary::-webkit-details-marker {
    display: none;
  }

  details[open] summary {
    box-shadow: var(--outline);
    color: var(--gray-100);
  }

  details[open] summary::before {
    background: transparent;
    bottom: 0;
    content: " ";
    cursor: initial;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
  }

  .menu {
    background: var(--gray-700);
    border-radius: 0.25rem;
    box-shadow: 0.1rem 0.1rem 0.1rem var(--gray-900);
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0 0 -0.2rem;
    min-width: 10em;
    padding: 0.25rem 0;
    position: absolute;
    z-index: 20;
  }
</style>
