---
import "@/styles/app.css";

import { BackToHomeLink } from "@/components/back-to-home-link";
import { BrowserSupport } from "@/components/browser-support";
import { Code } from "@/components/code";
import { MdnDoc } from "@/components/mdn-doc";
import { PageHeader } from "@/components/page/header";
import { PageSection } from "@/components/page/section";
import { PageSubHeader } from "@/components/page/sub-header";
import { Layout } from "@/layouts/layout";
import styles from "./_styles.module.css";

const title = "popover";
---

<Layout title={title}>
  <PageHeader title={title} />
  <PageSection>
    <MdnDoc path="Web/HTML/Global_attributes/popover" text={title}>
      the popover global attribute is used to designate an element as a popover
      element.<br /><br />
      popover elements are hidden via <Code code="display: none" inline /> until
      opened via an invoking/control element (i.e. a <Code
        code="<button>"
        inline
      />
      or <Code code={`<input type="button" />`} inline /> with a popovertarget attribute)
      or a HTMLElement.showPopover() call.<br /><br />
      When open, popover elements will appear above all other elements in the top
      layer, and won't be influenced by parent elements <Code
        code="position"
        inline
      /> or <Code code="overflow" inline /> styling.
    </MdnDoc>
  </PageSection>
  <PageSection>
    <PageSubHeader title="1" subTitle="e.g. drawer" />
    <button
      type="button"
      class={styles.drawerButton}
      popovertarget="drawerTarget">show drawer</button
    >
    <div id="drawerTarget" class={styles.drawer} popover>
      <div class={styles.drawerInner}>
        <div class={styles.drawerHeader}>how to close this drawer</div>
        <div class={styles.drawerMain}>
          you can close the drawer by pressing the <Code code="esc" inline /> key,
          and you can also be dismissed by selecting outside the drawer area too.
        </div>
        <div class={styles.drawerFooter}>
          <button type="button" class={styles.drawerFooterButton} autofocus
            >close drawer</button
          >
        </div>
      </div>
    </div>
  </PageSection>
  <PageSection>
    <PageSubHeader title="2" subTitle="e.g. toast" />
    <p>you can be pressed multiple times.</p>
    <button type="button" id="toastButton" class={styles.toastButton}
      >generate toast</button
    >
  </PageSection>
  <PageSection>
    <BrowserSupport
      items={[
        {
          value: title,
          chrome: "114",
          firefox: "125",
          safari: "17",
        },
        {
          value: "::backdrop",
          chrome: "37",
          firefox: "47",
          safari: "15.4",
        },
        {
          value: "backdrop-filter",
          chrome: "76",
          firefox: "103",
          safari: "9",
        },
      ]}
    />
  </PageSection>
  <BackToHomeLink />
</Layout>

<script>
  import styles from "./_styles.module.css";

  let selector = "";

  // drawer
  selector = "#drawerTarget";
  const drawer = document.querySelector<HTMLElement>(selector);
  if (!drawer) throw new Error(`${selector} does not exists.`);

  selector = `.${styles.drawerFooterButton}`;
  const drawerFooterButton =
    document.querySelector<HTMLButtonElement>(selector);
  if (!drawerFooterButton) throw new Error(`${selector} does not exists.`);

  drawerFooterButton.addEventListener("click", () => {
    drawer.hidePopover();
  });

  // toast
  selector = "#toastButton";
  const toastButton = document.querySelector<HTMLButtonElement>(selector);
  if (!toastButton) throw new Error(`${selector} does not exists.`);

  toastButton.addEventListener("click", () => {
    const toast = document.createElement("div");
    toast.popover = "manual";
    toast.classList.add(styles.toast);
    toast.classList.add(`${styles.toast}new`);

    document.body.append(toast);
    toast.showPopover();

    setTimeout(() => {
      toast.hidePopover();
      toast.remove();
    }, 4000);

    toast.addEventListener("toggle", (event) => {
      if ((event as ToggleEvent).newState === "open") {
        selector = `.${styles.toast}`;
        const toasts = document.querySelectorAll<HTMLDivElement>(selector);
        if (!toasts.length) throw new Error(`${selector} does not exists.`);

        toasts.forEach((element, index) => {
          toast.textContent = `toast${index + 1}`;

          if (element.classList.contains(`${styles.toast}new`)) {
            element.style.top = "16px";
            element.classList.remove(`${styles.toast}new`);
          } else {
            const previousTopValue = element.style.top.replace("px", "");
            element.style.top = `${parseInt(previousTopValue) + 68}px`;
          }
        });
      }
    });
  });

  // https://bugs.webkit.org/show_bug.cgi?id=267688
  document.body.addEventListener("pointerdown", () => {
    //
  });
</script>
