---
import Link from "@/components/Link.astro";
import { APP_NAME } from "@/constants/app";
import styles from "./Header.module.css";

const [account, repository] = APP_NAME.split("/");
---

<header class={styles.header}>
  <nav class={styles.nav} aria-label="header navigation">
    <Link class={styles.link} href="/">
      <span class={styles.account}>{account}/</span><span
        class={styles.repository}>{repository}</span
      >
    </Link>
  </nav>
</header>
