---
import { BackToHomeLink } from "@/components/back-to-home-link";
import { PageHeader } from "@/components/page/header";
import { PageSection } from "@/components/page/section";
import { APP_REPOSITORY_URL } from "@/constants/app";
import { IconExternalLink } from "@/icons/external-link";
import { Layout } from "@/layouts/layout";
import styles from "./styles.module.css";

const title = "contact";
---

<Layout title={title}>
  <PageHeader title={title} />
  <PageSection class={styles.container}>
    <p>
      please to the message via
      <a
        href="https://twitter.com/livejam_db"
        class={styles.link}
        target="_blank"
        rel="noreferrer"
        >twitter<IconExternalLink class={styles.icon} />
      </a>
      or
      <a
        href={`${APP_REPOSITORY_URL}/issues`}
        class={styles.link}
        target="_blank"
        rel="noreferrer"
        >github<IconExternalLink class={styles.icon} />
      </a>
      issues. thank you.
    </p>
  </PageSection>
  <BackToHomeLink />
</Layout>
